{% block scripts %}
<script>
   <!-- Enable display of right payoff information depending on player.id_in_group -->
    {% if player.id_in_group <= 2 %}
        document.getElementById("payoff").style.display = "block";
    {% elif player.id_in_group > 2 %}
        document.getElementById("payoff_hiddenagenda").style.display = "block";
   {% endif %}
</script>
{% endblock %}

{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">The End</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}

{% block content %}

<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> The End </a>
                </li>
            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 sticky-top mt-3">
                    <p class="h4">Experiment completed!</p>
                </div>
                <div class="card-body">

                    <div id="payoff" style="display: none">
                        <p>
                            You made it. You earned {{ Constants.fixed_pay }} as a fixed fee for your participation and
                            {{ participant.payoff }} based on the accuracy of your group's estimates.
                            <b>In total you earned {{ participant.payoff_plus_participation_fee() }}.</b>
                        </p>

                        <p>
                            <b>Please wait for a sign by the experimenter.</b> You will be called to the check-out desk in
                            order to implement your payments.
                        </p>
                    </div>

                    <div id="payoff_hiddenagenda" style="display: none">
                        <p>
                            You made it. You earned {{ Constants.fixed_pay }} as a fixed fee for your participation,
                            {{ overall_hiddenagenda_bonus }} based on your hidden agendas and
                            {{ overall_accuracy_bonus }} based on the accuracy of your group's estimates.
                            <b>In total you earned {{ participant.payoff_plus_participation_fee() }}.</b>
                        </p>

                        <p>
                            <b>Please wait for a sign by the experimenter.</b> You will be called to the check-out desk in
                        order to implement your payments.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

    <div class="col col-lg-2" id="finish_button" style="display: block">
        <p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </p>
        <button class="btn btn-primary btn-large">
            Close experiment
        </button>
    </div>

{% endblock %}


