{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <!-- import #zmmtg-root css -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/5.7.6/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/5.7.6/css/react-select.css" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/basics.js' %}"></script>
    <script src="{% static 'global/js/navbuttons.js' %}"></script>

    <script src="index.js"></script>
    <script src="index.html"></script>
    <script>
    // For Global use source.zoom.us:
    ZoomMtg.setZoomJSLib('https://source.zoom.us/5.7.6/lib', '/av');
    // Load WebAssembly files and JavaScript requirements onto the page
    ZoomMtg.preLoadWasm();
    ZoomMtg.prepareJssdk();
    </script>

    <script>

    <!-- Enable display of right information depending on player.id_in_group and player.round_displayed -->

    {% if player.id_in_group == 1 and player.round_displayed == 1 %} // control which initial info each player sees
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.1A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 2 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.2A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 3 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.3A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 4 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.4A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 5 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.45A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 6 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.55A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 7 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.6A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 8 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.7A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 9 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.8A.png' %}";
    {% elif player.id_in_group == 1 and player.round_displayed == 10 %}
        document.getElementById("info_a").style.display = "block";
        document.getElementById("info_a_img").src = "{% static 'img/RandomWalks/target0.9A.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 1 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.1B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 2 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.2B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 3 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.3B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 4 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.4B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 5 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.45B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 6 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.55B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 7 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.6B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 8 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.7B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 9 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.8B.png' %}";
    {% elif player.id_in_group == 2 and player.round_displayed == 10 %}
        document.getElementById("info_b").style.display = "block";
        document.getElementById("info_b_img").src = "{% static 'img/RandomWalks/target0.9B.png' %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 1 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.1C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_1_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_1_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 2 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.2C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_2_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_2_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 3 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.3C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_3_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_3_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 4 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.4C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_4_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_4_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 5 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.45C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_5_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_5_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 6 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.55C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_6_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_6_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 7 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.6C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_7_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_7_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 8 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.7C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_8_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_8_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 9 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.8C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_9_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_9_hiddenagenda %}";
    {% elif player.id_in_group == 3 and player.round_displayed == 10 %}
        document.getElementById("info_c").style.display = "block";
        document.getElementById("info_c_img").src = "{% static 'img/RandomWalks/target0.9C.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_10_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_10_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 1 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.1D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_1_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_1_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 2 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.2D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_2_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_2_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 3 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.3D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_3_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_3_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 4 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.4D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_4_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_4_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 5 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.45D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_5_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_5_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 6 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.55D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_6_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_6_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 7 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.6D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_7_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_7_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 8 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.7D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_8_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_8_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 9 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.8D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_9_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_9_hiddenagenda %}";
    {% elif player.id_in_group == 4 and player.round_displayed == 10 %}
        document.getElementById("info_d").style.display = "block";
        document.getElementById("info_d_img").src = "{% static 'img/RandomWalks/target0.9D.png' %}";
        document.getElementById("hiddenagenda").innerHTML = "{% Constants.round_10_hiddenagenda %}";
        document.getElementById("hiddenagenda_reminder_1").innerHTML = "{% Constants.round_10_hiddenagenda %}";
    {% endif %}

    <!-- Enable display of right payoff information depending on player.round_number -->
    {% if player.round_number == 1 and player.id_in_group <= 2 %}
        // document.getElementById("payoff_info_first_round").style.display = "block";
        document.getElementById("more").style.display = "block";
        document.getElementById("readmoreDiv").style.display = "none";
    {% elif player.round_number != 1 and player.id_in_group <= 2%}
        document.getElementById("payoff_info").style.display = "block";
        document.getElementById("readmoreDiv").style.display = "block";
        document.getElementById("more").style.display = "none";
    {% elif player.round_number == 1 and player.id_in_group > 2 %}
        document.getElementById("payoff_info_hiddenagenda").style.display = "block";
        document.getElementById("more_hiddenagenda").style.display = "block";
        document.getElementById("readmoreDiv_hiddenagenda").style.display = "none";
        document.getElementById("your_hiddenagenda").style.display = "block";
        document.getElementById("your_hiddenagenda_second_estimate").style.display = "block";
    {% elif player.round_number != 1 and player.id_in_group > 2 %}
        document.getElementById("payoff_info_hiddenagenda").style.display = "block";
        document.getElementById("readmoreDiv_hiddenagenda").style.display = "block";
        document.getElementById("dots_hiddenagenda").style.display = "block";
        document.getElementById("more_hiddenagenda").style.display = "none";
        document.getElementById("your_hiddenagenda").style.display = "block";
        document.getElementById("your_hiddenagenda_second_estimate").style.display = "block";
    {% endif %}

        var estimate

    function readmore() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("readmoreBtn");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "See details again";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Hide details";
            // document.getElementById("readmoreBtn").innerHTML = "Read less"
            moreText.style.display = "inline";
          }
        }

    function readmore_hiddenagenda() {
          var dots = document.getElementById("dots_hiddenagenda");
          var moreText = document.getElementById("more_hiddenagenda");
          var btnText = document.getElementById("readmoreBtn_hiddenagenda");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "See details again";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Hide details";
            // document.getElementById("readmoreBtn").innerHTML = "Read less"
            moreText.style.display = "inline";
          }
        }

    function make_estimate() {
        estimate = parseFloat(document.getElementById("estimate_input").value)
        liveSend({"information_type": "estimate", "estimate": estimate})
        document.getElementById("wait_for_others").style.display = "block";
        document.getElementById("estimate").style.display = "none";
        document.getElementById("error_1").style.display = "none";
    }

    function saveTime() {
        document.getElementById("end_of_round_input").value = new Date().getTime();
    }

    function liveRecv(data) {
        if (data["information_type"] == "error") {
            document.getElementById("wait_for_others").style.display = "none";
            document.getElementById("estimate").style.display = "block";
            document.getElementById("error_1").style.display = "block";
            document.getElementById("first_indivestim").value = data["estimate"];
        } else if (data["information_type"] == "disagreement_indicator") {
            document.getElementById("wait_for_others").style.display = "none";
            document.getElementById("estimate").style.display = "block";
            document.getElementById("disagreement").style.display = "block";
            document.getElementById("first_indivestim").value = data["estimate"];
        } else if (data["information_type"] == "completion_indicator") {
            document.getElementById("first_header").style.display = "none";
            document.getElementById("wait_for_others").style.display = "none";
            document.getElementById("second_header").style.display = "block";
            document.getElementById("completion_message").style.display = "block";
                if ({{ player.round_number }} < {{ Constants.num_rounds }}) {
                    document.getElementById("next_button").style.display = "block";
                } else {
                    document.getElementById("last_next_button").style.display = "block";
                }
            }
    }

    // Group bonus popup
    function popup() {
      var popup = document.getElementById("group_bonus_popup");
      popup.classList.toggle("show");
    }
    </script>

    <style>
    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 100%;
      background-color: #555;
      color: #fff;
      text-align: left;
      border-radius: 12px;
      padding: 8px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 15%;
      margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 10%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }
    </style>
{% endblock %}


{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Round {{ player.round_number }} out of {{ Constants.num_rounds }}</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}



{% block content %}

<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Your payoff </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"> Your Info </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Solving the task </a>
                </li>

            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 sticky-top mt-3">
                    <p class="h4">This is how your behavior in the task translates into your payoff.</p>
                </div>
                <div class="card-body">

                     <div id="payoff_info_hiddenagenda" style="display: none">
                        <p>
                            <b>You have a hidden agenda.</b> Consequently, you have two objectives. Your first aim is to
                            work on your hidden agenda as outlined below.
                        </p>

                        <div>
                            <p>
                                <b>Your hidden agenda in this round is to drive the estimate as close to <i>
                                    <span id="hiddenagenda"></span> in 100</i>
                                as possible.</b> You may earn a hidden agenda bonus of {{ Constants.hiddenagenda_bonus }}
                                for yourself. The chance of winning this hidden agenda bonus increases the closer you
                                drive the estimate in the prescribed direction.
                            </p>
                        </div>
                    <p>
                        </b><span id ="dots_hiddenagenda" style="display: none"-> <b>The remaining information is the same as in previous
                        rounds...</b> </span>
                        </p>
                    </div>

                    <div id="more_hiddenagenda" style="display: none">
                        <p>
                            Second, you are still part of a group, which
                            collectively follows the aim to reach a group estimate that is as accurate as possible.
                            In particular, your group may earn a bonus of {{ Constants.group_bonus }} for this round.
                            The bonus will be
                            split equally among group members, in other words you may earn
                            {{ Constants.individual_share_of_group_bonus }} for yourself.
                        </p>

                        <p>
                            The chance of earning the group bonus depends on the accuracy of your group's estimate to
                            the judgment task. The more accurate the larger the chance. In this way, from the group's
                            perspective it will always be best to generate an estimate, which the group believes is the
                            most accurate given the available information.<b> For yourself, it will always be best to
                            follow your hidden agenda as much as possible.</b> Your bonus based on the hidden agenda
                            outweighs your share of the group accuracy bonus.
                        </p>
                        <br>
                        <video controls preload="auto" controlslist="nodownload" width="900" height="506">

                            <source src="https://www.dropbox.com/s/5ca22qeeqjcafqi/bonuses_hiddenagenda.mp4?raw=1" type="video/mp4">

                        </video>
                        <br>
                        <br>
                        <br>
                            <div class="popup" onclick="popup_hiddenagenda()" style="color:royalblue;">
                            <u>If you want to know all details about how the group bonus and the hidden agenda bonus are
                                calculated you can click here.</u>

                            <span class="popuptext" id="group_bonus_popup_hiddenagenda">
                                Your <b>group bonus</b> is determined according to a scoring rule. Precisely, your group will
                                receive a bonus of {{ Constants.group_bonus }} <b>if:</b>
                                <br>
                                <ul>
                                <li> the program is run, and Kara reaches the target area, and a number randomly
                                drawn from a uniform distribution on the interval [0,1] is above
                                (1-(your group estimate/100))^2, <b>or</b></li>
                                <li> the program is run, and Kara does not reach the target area, and a number
                                randomly drawn from a uniform distribution on the interval [0,1] is above or equal to
                                (your group estimate/100)^2
                                </li>
                                </ul>
                                <br>
                                Group members with a <b>hidden agenda</b> additionally receive:
                                <br>
                                <ul>
                                <li> {{ Constants.hiddenagenda_bonus }} with a chance  (group_estimates/100)^2 if their
                                    hidden agenda is to
                                    drive the group estimate to <i>100 in 100</i>, <b>or</b></li>
                                <li> {{ Constants.hiddenagenda_bonus }} with a chance (1-(group_estimates/100))^2 if
                                    their hidden agenda is to
                                    drive the group estimate to <i>0 in 100</i>
                                </li>
                                </ul>
                            </span>
                        </div>
                    </div>

                    <div id="readmoreDiv_hiddenagenda" style="display: none">
                        <br>
                        <br>
                        <button id="readmoreBtn_hiddenagenda" type="button" onclick="readmore_hiddenagenda()" class="btn btn-primary btn-large">
                                See details again
                        </button>
                    </div>



                    <div id="payoff_info" style="display: none">
                        <p>
                            <b>This is the same as in previous rounds.</b><span id ="dots"> <b>...</b> </span>
                        </p>
                    </div>
                    <div id="more" style="display: none">
                        <p>
                            <b>Your only objective is to reach a group estimate that is as accurate as possible.</b>
                        </p>
                        <p>
                            In particular, your group may earn a bonus of {{ Constants.group_bonus }} for this round.
                            The bonus will be
                            split equally among group members, in other words you may earn
                            {{ Constants.individual_share_of_group_bonus }} for yourself.
                        </p>

                        <p>
                            The chance of earning the group bonus depends on the accuracy of your group's estimate to
                            the judgment task. The more accurate the larger the chance. In this way, <b>it will always be
                            best for you to strive for a group estimate, which you believe is the most accurate
                            given the available information</b>.
                        </p>

                        <p>
                            Be wary: <b> two of your fellow group members have
                            a hidden agenda.</b> They do not only receive their share of the group bonus but
                            also earn money for driving the estimate as close to <i>0 in 100</i> or
                            <i>100 in 100</i> as possible. The hidden agenda for both of them goes in the same direction
                            in a given round. Whether it is <i>0 in 100</i> or <i>100 in 100</i> is decided
                            randomly in each round.
                        <br>
                        <video controls preload="auto" controlslist="nodownload" width="900" height="506">

                            <source src="https://www.dropbox.com/s/5ca22qeeqjcafqi/bonuses_hiddenagenda.mp4?raw=1" type="video/mp4">

                        </video>
                        <br>
                        <br>
                        <br>
                        <div class="popup" onclick="popup()" style="color:royalblue;">
                            <u>If you want to know all details about how the group bonus and the hidden agenda bonus are
                                calculated you can click here.</u>

                            <span class="popuptext" id="group_bonus_popup">
                                Your <b>group bonus</b> is determined according to a scoring rule. Precisely, your group will
                                receive a bonus of {{ Constants.group_bonus }} <b>if:</b>
                                <br>
                                <ul>
                                <li> the program is run, and Kara reaches the target area, and a number randomly
                                drawn from a uniform distribution on the interval [0,1] is above
                                (1-(your group estimate/100))^2, <b>or</b></li>
                                <li> the program is run, and Kara does not reach the target area, and a number
                                randomly drawn from a uniform distribution on the interval [0,1] is above or equal to
                                (your group estimate/100)^2
                                </li>
                                </ul>
                                <br>
                                Group members with a <b>hidden agenda</b> additionally receive:
                                <br>
                                <ul>
                                <li> {{ Constants.hiddenagenda_bonus }} with a chance  (group_estimates/100)^2 if their
                                    hidden agenda is to
                                    drive the group estimate to <i>100 in 100</i>, <b>or</b></li>
                                <li> {{ Constants.hiddenagenda_bonus }} with a chance (1-(group_estimates/100))^2 if
                                    their hidden agenda is to
                                    drive the group estimate to <i>0 in 100</i>
                                </li>
                                </ul>
                            </span>
                        </div>
                    </div>

                    <div id="readmoreDiv" style="display: none">
                        <br>
                        <br>
                        <button id="readmoreBtn" type="button" onclick="readmore()" class="btn btn-primary btn-large">
                                See details again
                        </button>
                    </div>




                    <!-- on Card Navigation  Arrows -->

                    <!-- greyed out left arrow on first page -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p class="prevtab text-secondary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D3D3D3" class="bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 2: WHATEVER SECOND TAB HERE  -->
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Your Info</p>
                </div>

                <div class="card-body">
                    <div>

                        <p>
                            Below you can see your own private information. You see the path Kara took when the program
                            was executed once in the past.
                        </p>

                        <p>
                            Everybody in your group receives a path from a distinct past
                            execution of the program. Consequently, the path you see is in all likelihood different from
                            what others in your group see.
                        </p>

                    <div id="info_a" style="display: none">
                        <img id="info_a_img" src="set dynamically in js" style="width:90%;">
                    </div>

                    <div id="info_b" style="display: none">
                        <img id="info_b_img" src="set dynamically in js" style="width:90%;">
                    </div>

                    <div id="info_c" style="display: none">
                        <img id="info_c_img" src="set dynamically in js" style="width:90%;">
                    </div>

                    <div id="info_d" style="display: none">
                        <img id="info_d_img" src="set dynamically in js" style="width:90%;">
                    </div>


                    </div>





                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 3: WHATEVER FINAL TAB HERE -->
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top" style="display: block" id="first_header">
                    <p class="h4">Estimate</p>
                </div>

                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top" style="display: none" id="second_header">
                    <p class="h4">Done!</p>
                </div>

                <div class="card-body">

                    <div id="estimate" style="display: block">
                        <p>
                            You can now <b>turn to your group in the video conference</b> on the second screen
                            in order to discuss your information and derive a group estimate.
                        </p>

                        <div id="your_hiddenagenda" style="display: none">
                            <p>
                                <b>Remember, your hidden agenda in this round is to drive the estimate as close to <i>
                                    <span id="hiddenagenda_reminder_1"></span> in 100</i>
                                as possible.</b>
                            </p>
                        </div>

                        <p>
                            Which estimate did you agree on during the group discussion?
                        </p>

                            <input id="estimate_input"
                                   type="text"
                                   size="3"> in 100

                        <p>
                        <div id="error_1" style="display: none">
                            <p style="color:red;">
                                <b> Your estimate needs to be a number in the range from 0 to 100.</b>
                            </p>
                        </div>

                        <div id="disagreement" style="display: none">
                            <p style="color:red;">
                                <b> Not all of you indicated the same estimate. All four of you should indicate the
                                estimate you agreed on during the discussion with your group, in other words everyone
                                needs to state the same estimate.</b>
                            </p>
                        </div>

                        <br>
                        <br>
                            <button type="button" onclick="make_estimate()" class="btn btn-primary btn-large">
                                Send estimate
                            </button>
                    </div>

                    <div id="wait_for_others" style="display: none">
                        Please wait until all your fellow group members completed their input.
                        <span id="message"></span>
                    </div>

                    <div id="completion_message" style="display: none">
                        You completed round {{ player.round_number }}. Please click the blue button to continue.
                    </div>

                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2" id="next_button" style="display: none">
                            <button class="btn btn-primary btn-large" onclick="saveTime()">
                                Continue to next round
                            </button>
                        </div>

                        <div class="col col-lg-2" id="last_next_button" style="display: none">
                            <button class="btn btn-primary btn-large" onclick="saveTime()">
                                Continue
                            </button>
                        </div>

                        <input id="end_of_round_input" name="end_of_round" type="hidden" value=""/>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}