{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/basics.js' %}"></script>
    <script src="{% static 'global/js/navbuttons.js' %}"></script>

    <script>
        function saveTime() {
            let endroundtime = new Date().getTime();
            document.getElementById("endround_time").value = endroundtime;
        }
    </script>

    <!-- Live Interaction in Delphi Estimation -->
    <script>
        var first_indivestim
        var indivarg
        var second_indivestim

    function make_first_indivestim() {
        first_indivestim = parseFloat(document.getElementById("first_indivestim").value)
        indivarg = document.getElementById("indivarg").value
        liveSend({"information_type": "estimate", "estimate": first_indivestim})
        liveSend({"information_type": "reasoning", "reasoning": indivarg})
        document.getElementById("first_estimate").style.display = "none";
        document.getElementById("wait_for_others").style.display = "block";
    }

    function liveRecv(data) {
            first_indivestim_a = data["estimate_a"]
            document.getElementById("first_indivestim_a").innerHTML = first_indivestim_a;
            first_indivestim_b = data["estimate_b"]
            document.getElementById("first_indivestim_b").innerHTML = first_indivestim_b;
            first_indivestim_c = data["estimate_c"]
            document.getElementById("first_indivestim_c").innerHTML = first_indivestim_c;
            first_indivestim_d = data["estimate_d"]
            document.getElementById("first_indivestim_d").innerHTML = first_indivestim_d;
            indivarg_a = data["reasoning_a"]
            document.getElementById("indivarg_a").innerHTML = indivarg_a;
            indivarg_b = data["reasoning_b"]
            document.getElementById("indivarg_b").innerHTML = indivarg_b;
            indivarg_c = data["reasoning_c"]
            document.getElementById("indivarg_c").innerHTML = indivarg_c;
            indivarg_d = data["reasoning_d"]
            document.getElementById("indivarg_d").innerHTML = indivarg_d;
            // document.getElementById("wait_for_others").style.display = "none";
            document.getElementById("second_estimate").style.display = "block";
    }

/*    function liveRecv(data) {
            if (data["information_type"] == "message") {
                message = data["message"]
                document.getElementById("message").innerHTML = message;
            }
            if (data["information_type"] == "estimate") {
                first_indivestim_a = data["estimate_a"]
                document.getElementById("first_indivestim_a").innerHTML = first_indivestim_a;
                first_indivestim_b = data["estimate_b"]
                document.getElementById("first_indivestim_b").innerHTML = first_indivestim_b;
                // document.getElementById("wait_for_others").style.display = "none";
                // document.getElementById("second_estimate").style.display = "block";
            }
    }*/


/*        function liveRecv(data) {
            if (data["information_type"] == "estimate_a") {
                first_indivestim_a = data["estimate_a"];
                document.getElementById("first_indivestim_a").innerHTML = first_indivestim_a;
            }

            if (data["information_type"] == "estimate_b") {
                first_indivestim_b = data["estimate_b"];
                document.getElementById("first_indivestim_b").innerHTML = first_indivestim_b;
            }

            if (data["information_type"] == "estimate_c") {
                first_indivestim_c = data["estimate_c"];
                document.getElementById("first_indivestim_c").innerHTML = first_indivestim_c;
            }

            if (data["information_type"] == "estimate_d") {
                first_indivestim_d = data["estimate_d"];
                document.getElementById("first_indivestim_d").innerHTML = first_indivestim_d;
            }
        }*/
    </script>
{% endblock %}


{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Let's go - Round 1 out of 10</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}



{% block content %}

<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Your payoff </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"> Your Info </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Solving the task </a>
                </li>

            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 sticky-top mt-3">
                    <p class="h4">This is how your behavior in the task translates in your payoff.</p>
                </div>
                <div class="card-body">

                    <div>
                        <p>
                            Lorem ipsum
                        </p>

                    </div>


                    <!-- on Card Navigation  Arrows -->

                    <!-- greyed out left arrow on first page -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p class="prevtab text-secondary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D3D3D3" class="bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 2: WHATEVER SECOND TAB HERE  -->
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Your Info</p>
                </div>

                <div class="card-body">
                    <div>

                        <p>
                            Below you can see your own private information. You see the path Kara took when the program
                            was executed once in the past. Everybody in your group receives a path from a distinct past
                            execution of the program. Consequently, the path you see is in all likelihood different from
                            what others in your group see.
                        </p>

                        <img src="{% static 'img/Round1/uniform_notrendA.png' %}" style="width:90%;">

                    </div>





                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 3: WHATEVER FINAL TAB HERE -->
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Deriving an estimate</p>
                </div>
                <div class="card-body">
                    <div id="first_estimate" style="display: block">
                        <p>
                            At first, all members of your group will give their individual estimate of the chance that Kara will
                            reach the target area, when the program is executed for the next time. What is your estimate?
                        </p>

                            <input id="first_indivestim"> in 100

                        <p>

                        <br>

                            Along the estimate you may also outline your reasoning behind the estimate in a brief text.
                            Both your estimate and the reasoning will be presented anonymously to your fellow group
                            members in the next step. What is your reasoning?
                        </p>
                            <input id="indivarg">
                        <br>
                        <br>
                            <button type="button" onclick="make_first_indivestim()">Sent estimate and reasoning</button>
                    </div id="first_estimate" style="display: block">

                    <div id="wait_for_others" style="display: none">
                        Please wait until all your fellow group members completed their first estimate.
                        <span id="message"></span>
                    </div>

                    <div id="second_estimate" style="display: none">
                        <br>

                        <p>
                            You and all your fellow group members completed their input. Below
                            you can see all the estimates and corresponding reasoning.
                        </p>

                        <br>

                        <p style="color:grey;">
                            <b> Your own input </b>
                        </p>
                        <hr>

                        <p>
                            <b>Estimate: </b>
                            <span id="first_indivestim_a"></span> in 100.
                            <br>
                            <b>Reasoning: </b> <span id="indivarg_a"></span>
                            <br>
                            <br>

                        <p style="color:grey;">
                            <b> Input of your fellow group members </b>
                        </p>
                        <hr>

                            <b>Estimate: </b>
                            <span id="first_indivestim_b"></span> in 100.
                            <br>
                            <b>Reasoning: </b> <span id="indivarg_b"></span>
                            <br>
                            <br>
                            <b>Estimate: </b>
                            <span id="first_indivestim_c"></span> in 100.
                            <br>
                            <b>Reasoning: </b> <span id="indivarg_c"></span>
                            <br>
                            <br>
                            <b>Estimate: </b>
                            <span id="first_indivestim_d"></span> in 100.
                            <br>
                            <b>Reasoning: </b> <span id="indivarg_d"></span>
                            <br>
                            <br>
                        </p>
                        <hr>
                        <p>
                            Now that you have seen the estimates by the other group members, and their reasoning you have
                            the chance to revise your own estimate. What is your new estimate?
                        </p>

                            <input id="second_indivestim"> in 100
                        <br>
                        <br>
                            <button type="button" onclick="make_second_indivestim()">Sent estimate</button>


                    </div>

                    {{ formfield_errors "first_indivestim" }}
                    {{ formfield_errors "indivarg" }}
                    {{ formfield_errors "second_indivestim" }}


                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <button class="btn btn-primary btn-large" onclick="saveTime()">Continue with next round</button>
                        </div>

                        <input id="endround_time" name="endround_time" type="hidden" value=""/>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}